In [1]:
from PyQt5.QtSql import QSqlQuery, QSqlDatabase

In [2]:
%cd /media/sf_Dropbox/code/watnu/master/test/

/media/sf_Dropbox/code/watnu/master/test

In [3]:
%rm watnu.sqlite

In [4]:
db = QSqlDatabase.addDatabase("QSQLITE")
db.setDatabaseName("watnu.sqlite")
db.open()

True

In [5]:
query = QSqlQuery()

In [6]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS spaces(
    space_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE
    )
    """
print(statement)

CREATE TABLE IF NOT EXISTS spaces(
space_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
name VARCHAR(255) NOT NULL UNIQUE
)

In [7]:
query.exec(statement)

True

In [8]:
d = {"do": "do something!",
    "space": "foobar",
    "done": False}

In [9]:
statement = f"""
INSERT OR IGNORE INTO spaces (name)
VALUES ('{d["space"]}')
"""
print(statement)

INSERT OR IGNORE INTO spaces (name)
VALUES ('foobar')

In [10]:
query.exec(statement)

True

In [11]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS activities(
    activity_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE
    )
    """
    print(statement)

CREATE TABLE IF NOT EXISTS activities(
activity_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
name VARCHAR(255) NOT NULL UNIQUE
)

In [12]:
query.exec(statement)

True

In [13]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS tasks (
    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
    do VARCHAR(280) NOT NULL,

    notes TEXT,
    attachments BLOB,
    space_id INTEGER,

    done INTEGER NOT NULL DEFAULT 0,
    draft INTEGER NOT NULL DEFAULT 0,
    active INTEGER NOT NULL DEFAULT 1,
    deleted INTEGER NOT NULL DEFAULT 0,

    priority REAL NOT NULL DEFAULT 0,
    level_id INTEGER NOT NULL DEFAULT 0,

    deadline INTEGER,
    workload INTEGER,

    activity_id INTEGER,
    difficulty REAL DEFAULT 5,
    fear REAL DEFAULT 5,

    last_checked INTEGER,
    chain TEXT,
    FOREIGN KEY (space_id)
    REFERENCES spaces (space_id)
        ON DELETE SET NULL,
    FOREIGN KEY (activity_id)
    REFERENCES activities (activity_id)
        ON DELETE SET NULL
    )
    """
    print(statement)

CREATE TABLE IF NOT EXISTS tasks (
id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
do VARCHAR(280) NOT NULL,

notes TEXT,
attachments BLOB,
space_id INTEGER,

done INTEGER NOT NULL DEFAULT 0,
draft INTEGER NOT NULL DEFAULT 0,
active INTEGER NOT NULL DEFAULT 1,
deleted INTEGER NOT NULL DEFAULT 0,

priority REAL NOT NULL DEFAULT 0,
level_id INTEGER NOT NULL DEFAULT 0,

deadline INTEGER,
workload INTEGER,

activity_id INTEGER,
difficulty REAL DEFAULT 5,
fear REAL DEFAULT 5,

last_checked INTEGER,
chain TEXT,
FOREIGN KEY (space_id)
REFERENCES spaces (space_id)
    ON DELETE SET NULL,
FOREIGN KEY (activity_id)
REFERENCES activities (activity_id)
    ON DELETE SET NULL
)

In [14]:
query.exec(statement)

True

In [18]:
statement = f"""SELECT space_id FROM spaces WHERE name='{d["space"]}';"""
print(statement)

SELECT space_id FROM spaces WHERE name='foobar';

In [19]:
query.exec(statement)

True

In [22]:
                        statement = f"""
INSERT INTO tasks (do, space_id, done)
VALUES ('{d["do"]}', 
(SELECT space_id from spaces WHERE name='{d["space"]}'),
'{int(bool(d["done"]))}' 
)
  """
print(statement)

INSERT INTO tasks (do, space_id, done)
VALUES ('do something!',
(SELECT space_id from spaces WHERE name='foobar'),
'0'
)

In [23]:
query.exec(statement)

True

In [24]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS levels(
    level_id INTEGER PRIMARY KEY UNIQUE NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE
    )
    """
    print(statement)

CREATE TABLE IF NOT EXISTS levels(
level_id INTEGER PRIMARY KEY UNIQUE NOT NULL,
name VARCHAR(255) NOT NULL UNIQUE
)

In [25]:
query.exec(statement)

True

In [39]:
name = "MUST"
level_id = 2
statement = f"""
    INSERT INTO levels (level_id, name)
    VALUES ({level_id}, '{name}')
    )
    """
print(statement)

    INSERT INTO levels (level_id, name)
    VALUES (2, 'MUST')
    )

In [38]:
query.exec(statement)

False