In [1]:
from PyQt5.QtSql import QSqlQuery, QSqlDatabase

In [24]:
%cd /media/sf_Dropbox/code/watnu/master/src/watnu

/media/sf_Dropbox/code/watnu/master/src/watnu

In [1]:
import sys
sys.version

'3.8.5 (default, Sep  4 2020, 07:30:14) \n[GCC 7.3.0]'

In [25]:
import main

SyntaxError: invalid syntax (main.py, line 1400)

In [3]:
db = sqlite3.connect(":memory:")

In [4]:
db = QSqlDatabase.addDatabase("QSQLITE")
db.setDatabaseName(":memory:")
db.open()

True

In [5]:
query = QSqlQuery()

In [12]:
db.tables()

['spaces', 'sqlite_sequence']

In [9]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS spaces(
    space_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE
    )
    """
print(statement)

CREATE TABLE IF NOT EXISTS spaces(
space_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
name VARCHAR(255) NOT NULL UNIQUE
)

In [11]:
query.exec(statement)

True

In [8]:
d = {"do": "do something!",
    "space": "foobar",
    "done": False}

In [9]:
statement = f"""
INSERT OR IGNORE INTO spaces (name)
VALUES ('{d["space"]}')
"""
print(statement)

INSERT OR IGNORE INTO spaces (name)
VALUES ('foobar')

In [10]:
query.exec(statement)

True

In [11]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS activities(
    activity_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE
    )
    """
    print(statement)

CREATE TABLE IF NOT EXISTS activities(
activity_id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
name VARCHAR(255) NOT NULL UNIQUE
)

In [12]:
query.exec(statement)

True

In [13]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS tasks (
    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
    do VARCHAR(280) NOT NULL,

    notes TEXT,
    attachments BLOB,
    space_id INTEGER,

    done INTEGER NOT NULL DEFAULT 0,
    draft INTEGER NOT NULL DEFAULT 0,
    active INTEGER NOT NULL DEFAULT 1,
    deleted INTEGER NOT NULL DEFAULT 0,

    priority REAL NOT NULL DEFAULT 0,
    level_id INTEGER NOT NULL DEFAULT 0,

    deadline INTEGER,
    workload INTEGER,

    activity_id INTEGER,
    difficulty REAL DEFAULT 5,
    fear REAL DEFAULT 5,

    last_checked INTEGER,
    chain TEXT,
    FOREIGN KEY (space_id)
    REFERENCES spaces (space_id)
        ON DELETE SET NULL,
    FOREIGN KEY (activity_id)
    REFERENCES activities (activity_id)
        ON DELETE SET NULL
    )
    """
    print(statement)

CREATE TABLE IF NOT EXISTS tasks (
id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
do VARCHAR(280) NOT NULL,

notes TEXT,
attachments BLOB,
space_id INTEGER,

done INTEGER NOT NULL DEFAULT 0,
draft INTEGER NOT NULL DEFAULT 0,
active INTEGER NOT NULL DEFAULT 1,
deleted INTEGER NOT NULL DEFAULT 0,

priority REAL NOT NULL DEFAULT 0,
level_id INTEGER NOT NULL DEFAULT 0,

deadline INTEGER,
workload INTEGER,

activity_id INTEGER,
difficulty REAL DEFAULT 5,
fear REAL DEFAULT 5,

last_checked INTEGER,
chain TEXT,
FOREIGN KEY (space_id)
REFERENCES spaces (space_id)
    ON DELETE SET NULL,
FOREIGN KEY (activity_id)
REFERENCES activities (activity_id)
    ON DELETE SET NULL
)

In [14]:
query.exec(statement)

True

In [18]:
statement = f"""SELECT space_id FROM spaces WHERE name='{d["space"]}';"""
print(statement)

SELECT space_id FROM spaces WHERE name='foobar';

In [19]:
query.exec(statement)

True

In [22]:
                        statement = f"""
INSERT INTO tasks (do, space_id, done)
VALUES ('{d["do"]}', 
(SELECT space_id from spaces WHERE name='{d["space"]}'),
'{int(bool(d["done"]))}' 
)
  """
print(statement)

INSERT INTO tasks (do, space_id, done)
VALUES ('do something!',
(SELECT space_id from spaces WHERE name='foobar'),
'0'
)

In [23]:
query.exec(statement)

True

In [24]:
    statement = f"""
    CREATE TABLE IF NOT EXISTS levels(
    level_id INTEGER PRIMARY KEY UNIQUE NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE
    )
    """
    print(statement)

CREATE TABLE IF NOT EXISTS levels(
level_id INTEGER PRIMARY KEY UNIQUE NOT NULL,
name VARCHAR(255) NOT NULL UNIQUE
)

In [25]:
query.exec(statement)

True

In [39]:
name = "MUST"
level_id = 2
statement = f"""
    INSERT INTO levels (level_id, name)
    VALUES ({level_id}, '{name}')
    )
    """
print(statement)

    INSERT INTO levels (level_id, name)
    VALUES (2, 'MUST')
    )

In [38]:
query.exec(statement)

False

In [13]:
from unittest.mock import Mock

In [15]:
m = Mock?

Init signature: Mock(*args, **kw)
Docstring:
Create a new `Mock` object. `Mock` takes several optional arguments
that specify the behaviour of the Mock object:

* `spec`: This can be either a list of strings or an existing object (a
  class or instance) that acts as the specification for the mock object. If
  you pass in an object then a list of strings is formed by calling dir on
  the object (excluding unsupported magic attributes and methods). Accessing
  any attribute not in this list will raise an `AttributeError`.

  If `spec` is an object (rather than a list of strings) then
  `mock.__class__` returns the class of the spec object. This allows mocks
  to pass `isinstance` tests.

* `spec_set`: A stricter variant of `spec`. If used, attempting to *set*
  or get an attribute on the mock that isn't on the object passed as
  `spec_set` will raise an `AttributeError`.

* `side_effect`: A function to be called whenever the Mock is called. See
  the `side_effect` attribute. Useful for raising exceptions or
  dynamically changing return values. The function is called with the same
  arguments as the mock, and unless it returns `DEFAULT`, the return
  value of this function is used as the return value.

  If `side_effect` is an iterable then each call to the mock will return
  the next value from the iterable. If any of the members of the iterable
  are exceptions they will be raised instead of returned.

* `return_value`: The value returned when the mock is called. By default
  this is a new Mock (created on first access). See the
  `return_value` attribute.

* `wraps`: Item for the mock object to wrap. If `wraps` is not None then
  calling the Mock will pass the call through to the wrapped object
  (returning the real result). Attribute access on the mock will return a
  Mock object that wraps the corresponding attribute of the wrapped object
  (so attempting to access an attribute that doesn't exist will raise an
  `AttributeError`).

  If the mock has an explicit `return_value` set then calls are not passed
  to the wrapped object and the `return_value` is returned instead.

* `name`: If the mock has a name then it will be used in the repr of the
  mock. This can be useful for debugging. The name is propagated to child
  mocks.

Mocks can also be called with arbitrary keyword arguments. These will be
used to set attributes on the mock after it is created.
File:           ~/anaconda3/lib/python3.8/unittest/mock.py
Type:           type
Subclasses:     MagicMock, AsyncMock, PropertyMock, Mock

In [21]:
m = Mock()

In [22]:
m.debugging = True

In [23]:
m.debugging

True